/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-font-family: "Google Sans";
}

.menu-button {
	-fx-background-radius: 10px;
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 20;
}

.menu-button:hover {
	-fx-background-color: #26266E;
}


.inventory-button {
	-fx-background-color: transparent;
	-fx-border-radius: 10px;
	-fx-border-color: #C8CCD5;
	-fx-text-fill: black;
}

.search-bar {
	-fx-border-radius: 10px;
	-fx-border-color: #C8CCD5;
}

.download-button {
	-fx-background-radius: 10px;
	-fx-background-color: #35CDC5;
	-fx-text-fill: white;
	-fx-font-size: 14px;
}


.table-view {
	-fx-background-color: white;
	-fx-table-cell-border-color: transparent;
	-fx-table-header-border-color: #d3d3d3;
}

.table-view .column-header-background {
	-fx-background-color: #f4f4f4;
}

.table-view .column-header {
	-fx-background-color: white;
	-fx-border-color: #C8CCD5;
	-fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell {
	-fx-background-color: white;
	-fx-border-color: transparent;
}

.table-view .table-cell {
	-fx-border-width: 0;
	-fx-text-overrun: ellipsis;
	-fx-alignment: center;
}

.table-view .table-cell:empty {
	-fx-background-color: white;
}

.table-view:focused .table-row-cell:focused:selected {
	-fx-background-color: #26266E;
}

.table-view:focused .table-row-cell:focused:selected .table-cell {
	-fx-border-color: #26266E;
}


.popup-pane {
	-fx-background-color: white;
	-fx-padding: 10;
	-fx-border-width: 1;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}


.login-form{
	-fx-alignment : center;
	-fx-spacing: 25px;
}

.login-form .text-field, .login-form .password-field {
    -fx-padding: 5px; 
    -fx-font-size: 14px;
    -fx-background-color: transparent; 
    -fx-text-fill: white;
}

.hbox-style {
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0; 
    -fx-border-style: solid; 
    -fx-padding: 5px; 
}

.login-button {
	-fx-padding: 5px 25px; 
    -fx-font-size: 14px;
   	-fx-margin: 25px;
   	-fx-text-fill: #26266E;
   	-fx-background-color: white;
}

.logout-button {
    -fx-background-color: #f02d3a; 
    -fx-text-fill: white; 
    -fx-font-weight: bold;
    -fx-cursor: hand;
	-fx-border-radius: 10px;
}

.logout-button:hover {
    -fx-background-color: #dd0426;
}

.logout-button:pressed {
    -fx-background-color: #cc4230;
    -fx-translate-y: 2px; 
}